body {
    background: transparent !important;
    background-image: url(../assets/images/custom-bg.png) !important;
    background-size: cover !important;
    background-position: top right !important;
    background-repeat: no-repeat !important;

    .wrapper {
        .reload_pg {
            width: 130px;
            height: auto;
            top: 0;
            left: 0;
            background-image: none;

            img {
                padding: 25px 0 0 35px;
                width: 46px;
            }
        }

        .wrapper-drag {
            height: calc(100% - 164px);

            .six-card {
                .card {
                    width: 300px;
                }

                .result.card {
                    width: 400px;
                }
            }

            .card {
                width: 350px;

                .final-text {
                    font-family: Inter, sans-serif;
                    color: #0f365f;
                    font-size: 34px;
                    line-height: 34px;
                    font-weight: 600;
                    text-align: center;
                }
            }

            .four-card.solution0 {
                grid-template-columns: repeat(4, 25%);
            }

            .four-card.solution1 {
                grid-template-columns: repeat(3, 1fr);
            }

            .four-card.solution2 {
                grid-template-columns: repeat(2, 1fr);
            }

            .four-card.solution3 {
                grid-template-columns: repeat(1, 1fr);

                .result.card {
                    width: 500px;
                }
            }
        }

        .txt-block {
            box-sizing: content-box;
            height: 164px;

            h1.title {
                text-align: center;
                padding: 25px 0;
                font-size: 50px;
                margin: 0;
                color: #fff;
                line-height: 50px;
                box-sizing: content-box;
                text-shadow: 1px 1px 1px rgb(0, 0, 0, .2);
            }

            .q_text {
                padding: 0 0 30px 0;
                max-width: inherit;
                justify-content: center;
                width: 100%;
                margin: 0;
                color: #fff;
                font-size: 34px;
                line-height: 34px;
                font-weight: 400;
                text-align: center;
                text-shadow: 1px 1px 1px rgb(0, 0, 0, .2);
            }
        }
    }


}