body {
    /*background: rgba(0, 0, 0, 0) !important;*/
    background-image: url(../assets/images/bg.png) !important;
    background-size: cover !important;
    background-position: top right !important;
    background-repeat: no-repeat !important
}

body .wrapper .reload_pg {
    width: 130px;
    height: auto;
    top: 0;
    left: 0;
    background-image: none
}

body .wrapper .reload_pg img {
    padding: 25px 0 0 35px;
    width: 46px
}

body .wrapper .wrapper-drag {
    height: calc(100% - 164px)
}

body .wrapper .wrapper-drag .six-card .card {
    width: 21vw;
}

body .wrapper .wrapper-drag .six-card .result.card {
    width: 21vw;
}

body .wrapper .wrapper-drag .card {
    width: 21vw;
}

body .wrapper .wrapper-drag .card .final-text {
    font-family: Inter, sans-serif;
    color: #0f365f;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    text-align: center
}

body .wrapper .wrapper-drag .four-card.solution0 {
    grid-template-columns:repeat(4, 25%)
}

body .wrapper .wrapper-drag .four-card.solution1 {
    grid-template-columns:repeat(3, 1fr)
}

body .wrapper .wrapper-drag .four-card.solution2 {
    grid-template-columns:repeat(2, 1fr)
}

body .wrapper .wrapper-drag .four-card.solution3 {
    grid-template-columns:repeat(1, 1fr)
}

body .wrapper .wrapper-drag .four-card.solution3 .result.card {
    width: 500px
}

body .wrapper .txt-block {
    box-sizing: content-box;
    height: 144px
}

body .wrapper .txt-block h1.title {
    text-align: center;
    padding: 100px;
    padding-bottom: 0;
    padding-top: 50px;
    font-size: 2.3vw;
    margin: 0;
    color: #093b52;
    line-height: 30px;
    box-sizing: content-box;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)*/
}

body .wrapper .txt-block .q_text {
    padding: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: inherit;
    justify-content: center;
    /*width: 100%;*/
    margin: 0;
    color: #093b52;
    font-size: 1.3vw;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)*/
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../assets/fonts/Inter-Thin.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Inter-Light.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Inter-Regular.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../assets/fonts/Inter-Medium.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/Inter-SemiBold.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Inter-Bold.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../assets/fonts/Inter-ExtraBold.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../assets/fonts/Inter-Black.ttf)
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

.close {
    display: none !important
}

.hide {
    visibility: hidden !important
}

.disabled {
    opacity: .5;
    cursor: default
}

.selected {
    font-weight: bold
}

.modal_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 111
}

.intro_container_abstract {
    width: 45%;
    min-width: 900px;
    height: 85%;
    padding: 0;
    max-height: 870px;
    position: relative
}

.intro_container_abstract .info-block h3 {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

.intro_container_abstract .info-block .info-scroll {
    overflow: auto;
    height: inherit;
    padding: 0 40px 0 70px;
    margin: 30px 10px 0 0;
    scrollbar-width: thin;
    scrollbar-color: #8a8a8a #fff
}

.intro_container_abstract .info-block .info-scroll::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    background-color: #fff
}

.intro_container_abstract .info-block .info-scroll::-webkit-scrollbar-thumb {
    background: #8a8a8a
}

.intro_stroke_abstract {
    width: 100%;
    height: 100%;
    border-radius: 64px;
    border: 4px solid #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 15px
}

.intro_pg_abstract {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    padding: 0;
    margin: 0;
    background-color: #d5d0ff;
    background-image: url(../assets/images/intro_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.intro_pg_abstract p {
    font-size: 28px;
    text-align: left;
    line-height: 35px;
    z-index: 200;
    font-weight: 600;
    padding: 30px 40px 0 70px;
    margin: 0;
    color: #1e1e1e
}

.intro_pg_abstract ul {
    font-size: 25px;
    text-align: left;
    line-height: 35px;
    z-index: 200;
    font-weight: 500;
    padding: 30px 40px 0 70px;
    margin: 0;
    color: #1e1e1e
}

.intro_pg_abstract ul li {
    margin-bottom: 10px
}

.intro_pg_abstract ul a {
    color: #f55f77
}

.intro_pg_abstract ul a:hover {
    text-decoration: none
}

.intro_pg_abstract h3 {
    margin: 0;
    padding: 50px 0 0 0;
    font-family: "Inter", sans-serif;
    color: #404b96;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.intro_start_abstract {
    padding: 0px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0)
}

.intro_start_abstract p {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: #4c4947;
    text-align: center;
    font-weight: 600
}

.intro_start_abstract ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 36px;
    font-family: "Inter", sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    display: flex
}

.intro_start_abstract ul .no_timer {
    width: 280px;
    background-color: #404b96
}

.intro_start_abstract ul .no_timer::before {
    width: 270px;
    height: 94px;
    transform: rotate(4deg)
}

.intro_start_abstract ul li {
    transition: .2s linear;
    position: relative;
    display: inline-flex;
    min-width: 240px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 0 15px;
    -webkit-box-shadow: 8px 15px 0px 0px rgba(34, 60, 80, .09);
    -moz-box-shadow: 8px 15px 0px 0px rgba(34, 60, 80, .09);
    box-shadow: 8px 15px 0px 0px rgba(34, 60, 80, .09)
}

.intro_start_abstract ul li::before {
    content: "";
    width: 230px;
    height: 94px;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 29px;
    transform: rotate(5deg)
}

.intro_start_abstract ul a {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.intro_start_abstract ul a li.selected {
    background-color: #f55f77
}

.intro_start_abstract ul a:hover li {
    background-color: #f55f77
}

.intro_start_abstract ul a:hover li::before {
    transform: rotate(8deg)
}

.intro_start_abstract ul a:hover .no_timer::before {
    transition: .3s linear;
    transform: rotate(6deg)
}

.copyrightInfo {
    z-index: 101;
    width: 85px;
    height: 85px;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center
}

.copyrightInfo img {
    height: 40px;
    width: auto
}

.copyrightInfo::after {
    content: "";
    top: -3px;
    left: -10px;
    position: absolute;
    border: 4px solid #fff;
    width: 90%;
    height: 90%;
    border-radius: 50px;
    z-index: 100;
    transition: .1s linear
}

.copyrightInfo:hover::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    border: 4px solid #fff;
    width: 90%;
    height: 90%;
    border-radius: 50px;
    z-index: 100
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../assets/fonts/Inter-Thin.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Inter-Light.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Inter-Regular.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../assets/fonts/Inter-Medium.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/Inter-SemiBold.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Inter-Bold.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../assets/fonts/Inter-ExtraBold.ttf)
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../assets/fonts/Inter-Black.ttf)
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

.close {
    display: none !important
}

.hide {
    visibility: hidden !important
}

.disabled {
    opacity: .5;
    cursor: default
}

.selected {
    font-weight: bold
}

* {
    margin: 0;
    padding: 0
}

html, body, .wrapper {
    height: 100%
}

html .wrapper-drag, body .wrapper-drag, .wrapper .wrapper-drag {
    height: calc(100% - 125px);
    justify-content: center;
    align-items: center;
    display: flex
}

.txt-block {
    height: 125px
}

.ddCont {
    border: 0;
    position: relative;
    width: 90%;
    height: 70%;
    display: grid;
    padding: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    align-content: center;
    justify-items: center
}

.six-card {
    display: grid;
    grid-template-columns:repeat(3, 3fr);
    grid-template-rows:repeat(2, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: flex-start;
    justify-content: center
}

.six-card.solution0 .img1 {
    grid-area: 1/1/2/2
}

.six-card.solution0 .img2 {
    grid-area: 2/1/3/2
}

.six-card.solution0 .img3 {
    grid-area: 1/2/2/3
}

.six-card.solution0 .img4 {
    grid-area: 2/2/3/3
}

.six-card.solution0 .img5 {
    grid-area: 1/3/2/4
}

.six-card.solution0 .img6 {
    grid-area: 2/3/3/4
}

.six-card.solution1 .img1 {
    grid-area: 1/1/3/2
}

.six-card.solution1 .img2 {
    grid-area: 1/2/2/3
}

.six-card.solution1 .img3 {
    grid-area: 2/2/3/3
}

.six-card.solution1 .img4 {
    grid-area: 1/3/2/4
}

.six-card.solution1 .img5 {
    grid-area: 2/3/3/4
}

.six-card.solution2 .img1 {
    grid-area: 1/1/3/2
}

.six-card.solution2 .img2 {
    grid-area: 1/2/3/3
}

.six-card.solution2 .img3 {
    grid-area: 1/3/2/4
}

.six-card.solution2 .img4 {
    grid-area: 2/3/3/4
}

.six-card.solution3 .img1 {
    grid-area: 1/1/3/2
}

.six-card.solution3 .img2 {
    grid-area: 1/2/3/3
}

.six-card.solution3 .img3 {
    grid-area: 1/3/3/4
}

.six-card .result {
    width: 420px
}

.eight-card {
    grid-template-columns:25% 25% 25% 25%
}

.eight-card.winner .result {
    width: 380px
}

.ddCont::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    margin: 10px auto 0 !important;
    /*background-image: repeating-linear-gradient(0deg, #fff, #fff 12px, transparent 12px, transparent 24px, #fff 24px), repeating-linear-gradient(90deg, #fff, #fff 12px, transparent 12px, transparent 24px, #fff 24px), repeating-linear-gradient(180deg, #fff, #fff 12px, transparent 12px, transparent 24px, #fff 24px), repeating-linear-gradient(270deg, #fff, #fff 12px, transparent 12px, transparent 24px, #fff 24px);*/
    background-size: 4px 100%, 100% 4px, 4px 100%, 100% 4px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    pointer-events: none
}

.ddCont::after {
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: .3;
    position: absolute;
    content: "";
    display: flex;
    justify-content: center;
    margin: 10px auto 0 !important;
    /*background-image: repeating-linear-gradient(0deg, #000, #000 12px, transparent 12px, transparent 24px, #000 24px), repeating-linear-gradient(90deg, #000, #000 12px, transparent 12px, transparent 24px, #000 24px), repeating-linear-gradient(180deg, #000, #000 12px, transparent 12px, transparent 24px, #000 24px), repeating-linear-gradient(270deg, #000, #000 12px, transparent 12px, transparent 24px, #000 24px);*/
    background-size: 4px 100%, 100% 4px, 4px 100%, 100% 4px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    transform: rotate(0.5deg)
}

html, body {
    overflow: hidden;
    /*background: #00dcff;*/
    /*background-image: url(../assets/images/main_bg_white2.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0
}

.card {
    width: 300px
}

.card img {
    width: 100%
}

.card .final-text {
    color: red
}

.reload_pg {
    z-index: 100;
    position: absolute;
    display: block;
    width: 128px;
    height: 95px;
    top: 0px;
    right: 0px;
    background-image: url(../assets/images/reload_bg_right-fill-deepblue.svg);
    background-repeat: no-repeat
}

.reload_pg a {
    cursor: pointer;
    display: block
}

.reload_pg img {
    padding: 20px 0px 0px 50px;
    width: 35%
}

h1.title {
    margin: 0px;
    padding: 10px 0px 0px 20px;
    font-family: Inter, sans-serif;
    font-size: 50px;
    color: #087793;
    line-height: 57px;
    font-weight: 700
}

p.q_text {
    display: flex;
    max-width: 1284px;
    align-items: center;
    margin: 20px 0px 10px;
    padding: 0px 0px 0px 20px;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 25px;
    line-height: 36px;
    font-weight: 400
}

.bottom-answer {
    justify-content: center;
    display: flex
}

.bottom-answer .nextBtn {

    color: #fff;
    border: 0;
    position: absolute;
    z-index: 100;
    right: 2%;
    bottom: 2%;
    padding: 32px 80px;
    font-family: "Inter", sans-serif;
    font-size: 1.3vw;
    /*font-weight: 800;*/
    /*cursor: pointer;*/
    /*box-shadow: 8px 15px 0px 0px rgba(34, 60, 80, .9);*/
    /*transition: all .5s*/
    width: 230px;
    height: 64px;
    margin: 28px 70px 0 37px;
    padding: 19px 38.5px 19.7px 39.8px;
    border-radius: 10px;
    background-color: #0b60d4;
    cursor: pointer;
}

.bottom-answer .nextBtn::before {
    top: -17px;
    left: calc(5% - 4px);
    right: 0;
    bottom: 0;
    content: "";
    width: 95%;
    position: absolute;
    /*border: 4px solid #fff;*/
    border-radius: 54px 0 0 0;
    border-right: 0;
    border-bottom: 0
}

.bottom-answer .nextBtn::after {
    opacity: .15;
    top: -7px;
    left: calc(10% - 4px);
    bottom: 0;
    content: "";
    width: 90%;
    position: absolute;
    /*border: 4px solid #000;*/
    border-radius: 54px 0 0 0;
    filter: blur(2px);
    border-bottom: 0;
    border-right: 0
}

/*.bottom-answer .nextBtn:hover {*/
/*    padding: 32px 100px*/
/*}*/

@media (device-width: 100vw)and (device-height: 100vh) {
    h1.title {
        padding-top: 20px;
        font-size: 57px
    }

    p.q_text {
        font-size: 28px
    }

    .reload_pg {
        width: 146px;
        height: 108px
    }

    .reload_pg img {
        padding: 25px 0 0 55px
    }

    .ddCont {
        margin: 100px auto
    }

    .txt-block {
        height: 133px;
        padding-left: 6%;
        padding-top: 5%;
        width: 75%;
    }

    .wrapper .wrapper-drag {
        height: calc(100% - 133px)
    }
}
